@import components/_mixins
$font-item: 'Inter', sans-serif !global
$font-text: 'Urbanist', sans-serif !global
$font-title: 'Righteous', cursive !global

$bg-color-main:#14110E !global
$bg-color-parts: #1C1814 !global

$color-main: #fff !global
$color-adds: #C99E71 !global

* 
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: $bg-color-main
    color: $color-main
    width: 100%

a
    cursor: pointer



@import components/_nav
@import components/_header
@import components/_main
@import components/_footer


