.queue
    display: flex
    flex-direction: row
    padding-top: 8.75em
    @include main-margin
    
    &__item
        display:flex
        flex-direction: column
        margin-right: 2.25em

    
    
    &__title
        display: flex
        font: 
            family: $font-title
            size: 1.5em
            weight: 400
        margin-bottom: 1.5em
        

        &_number
            color: $color-adds
            margin-right: 0.75em
